@model CLCMinesweeperMilestone.Models.UserModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.Sex)
        @Html.TextBoxFor(m => m.Sex)
    </div>
    <div>
        @Html.LabelFor(m => m.Age)
        @Html.TextBoxFor(m => m.Age)
        @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.State)
        @Html.TextBoxFor(m => m.State)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.Label("Password")
        @Html.Password("PasswordHash")
        @Html.ValidationMessage("PasswordHash", "", new { @class = "text-danger" })
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
}
